@import url('./sections/core.css');
@import url('./sections/friends.css');
@import url('./sections/footer-utilities.css');
@import url('./sections/responsive-animations.css');
@import url('./sections/enhancements.css');
@import url('./styles.css');

