/* Legacy aggregate stylesheet (kept for backward compatibility) */
@import url('./sections/core.css');
@import url('./sections/feed.css');
@import url('./sections/profile.css');
@import url('./sections/home.css');
@import url('./sections/auth.css');
@import url('./sections/friends.css');
@import url('./sections/footer-utilities.css');
@import url('./sections/responsive-animations.css');
@import url('./sections/enhancements.css');
@import url('./sections/home-video.css');
@import url('./sections/auth-video.css');
@import url('./sections/social-login.css');
@import url('./sections/cta.css');


